<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="HotelWebService1Soap2" />
                <binding name="HotelWebService2Soap1" />
                <binding name="AgencyWebServiceSoap" />
                <binding name="AgencyBookingWebServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:64850/HotelWebService1.asmx"
                binding="basicHttpBinding" bindingConfiguration="HotelWebService1Soap2"
                contract="HotelRenaviereServiceRef1.HotelWebService1Soap"
                name="HotelWebService1Soap2" />
            <endpoint address="http://localhost:64850/HotelWebService2.asmx"
                binding="basicHttpBinding" bindingConfiguration="HotelWebService2Soap1"
                contract="HotelRenaviereServiceRef2.HotelWebService2Soap"
                name="HotelWebService2Soap1" />
            <endpoint address="http://localhost:64877/AgencyBookingWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="AgencyBookingWebServiceSoap"
                contract="AgencyMossonBookingServiceRef.AgencyBookingWebServiceSoap"
                name="AgencyBookingWebServiceSoap" />
            <endpoint address="http://localhost:64877/AgencyWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="AgencyWebServiceSoap"
                contract="AgencyMossonServiceRef.AgencyWebServiceSoap" name="AgencyWebServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>